:root {
  --ft-sz-lg: 400 3rem 'Manrope';
  --ft-sz-md: 400 2rem 'Manrope';
  --ft-sz-bcm: 400 1.5rem 'Manrope';
  --ft-sz-mcm: 400 1.25rem 'Manrope';
  --ft-sz-scm: 400 1rem 'Manrope';
  --ft-sz-sml: 400 .75rem 'Manrope';
}
