.headerContainer {
  background-color: var(--col-gb);
  height: 50px;

  .headerWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    p {
      display: flex;
      font: var(--ft-sz-sml);
      color: var(--col-ww);
      align-items: center;
      gap: .5rem;
    }
  }
}
