.headerContainer {
  background-color: var(--col-gb);
  height: 50px;

  .headerWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    p {
      display: flex;
      font: var(--ft-sz-sml);
      color: var(--col-ww);
      align-items: center;
      gap: .5rem;
    }
  }
}

@media screen and (max-width: 750px) {
  .headerContainer {
    padding: 0 20px !important;

    .headerWrapper {
      span {
        color: var(--col-ww);
        font: 700 1.5rem "Manrope";
      }
    }
  }
}
