.guaranteeWrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;

  p {
    font: var(--ft-sz-scm);
    color: var(--col-ga);

    span {
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 750px) {
  .guaranteeWrapper {
    align-items: start;

    img {
      width: 48px;
    }
  }
}
